body {
    background-color: rgb(224, 178, 132);
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.titles {

    font-size: 70px;
    margin-top: 30;

}
.Subs {
    
    font-size: 50px;
    margin-top: 20;
    

}

.seperate { 
    margin: 20 auto;
}

#a55 { 
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

}

p { 
    border-style: solid;
    background-color: rgb(228, 193, 142);
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: sticky;
    top: 6;
  } 
.menu2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 12px 0;
    position: sticky;
    top: 12;
  } 

  .menu3 {
    width: 35px;
    height: 5px;
    background-color: black;

    position: sticky;
    top: 12;
  } 